<div class="inf text-center mt-4">
   <h2 class="font-weight-bold">Formula2 Example Page</h2>
   <div class="w-50 mx-auto text-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quidem sint ipsum incidunt molestiae? Perferendis ducimus nihil nemo ex obcaecati deleniti aspernatur error cupiditate! Tempora, odit totam? Harum, voluptas aliquam!</p>
   </div>
   <app-cards></app-cards>
   <hr>
   <div class="content text-left mt-4">
      <h2 class="font-weight-bold txt-pry">Ventajas de trabajar con nosotros</h2>
      <div class="row">
         <div class="col-md-7">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil molestiae fugiat expedita pariatur culpa quidem tempore totam, nisi magni. Earum expedita dignissimos laboriosam? Neque placeat quasi consequatur expedita. Provident, dolore pariatur illum exercitationem distinctio natus eaque consequatur? Consequatur ut harum maiores labore deserunt, minima consequuntur sapiente distinctio, iure atque, nobis vel dolor dicta laboriosam culpa? Quas, labore assumenda maiores dicta corporis eveniet nihil fuga repellendus vero quibusdam molestiae odit culpa mollitia aliquid quaerat, tempora accusantium consequatur voluptatum neque! Inventore mollitia, in maiores fuga, assumenda autem corporis quod harum delectus sint similique dolorum nemo illum repudiandae! Possimus rem ex minima itaque.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate voluptates nisi fugit inventore, repudiandae ea necessitatibus culpa a vitae! Vitae voluptatem doloribus corporis ad. Cumque porro quod ducimus. Deserunt necessitatibus ullam consequatur alias minus beatae voluptatum culpa, dolor ea reprehenderit, quam cumque saepe, voluptas distinctio suscipit fuga molestias? Quos laborum illo aut dicta corrupti nulla facilis totam aspernatur ad fuga, cum est corporis quo voluptatum cupiditate ducimus, culpa dolorum. Doloremque voluptatum non sit, explicabo alias obcaecati molestiae esse ducimus illum, assumenda eius ullam incidunt magni pariatur? Eaque asperiores eos est aspernatur magni quos eligendi facere, doloremque, dicta, nulla natus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum necessitatibus deserunt aperiam debitis ab, eaque numquam ipsum delectus dignissimos harum quo, facere deleniti corporis quos tempore excepturi? Error libero tempore ducimus voluptates! Earum magnam fugiat consequuntur quis omnis quos voluptatem a adipisci quibusdam, quo autem animi incidunt repellat, voluptas debitis.</p>
         </div>
         <div class="col-md-5">
            <div class="card">
               <img src="../../../assets/logo.jpg" class="w-100" alt="...">
            </div>
         </div>
      </div>
   </div>
   <div class="content text-left mt-4">
      <h2 class="font-weight-bold txt-pry">La calidad de servicio es primordial</h2>
      <div class="row">
         <div class="col-md-7">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil molestiae fugiat expedita pariatur culpa quidem tempore totam, nisi magni. Earum expedita dignissimos laboriosam? Neque placeat quasi consequatur expedita. Provident, dolore pariatur illum exercitationem distinctio natus eaque consequatur? Consequatur ut harum maiores labore deserunt, minima consequuntur sapiente distinctio, iure atque, nobis vel dolor dicta laboriosam culpa? Quas, labore assumenda maiores dicta corporis eveniet nihil fuga repellendus vero quibusdam molestiae odit culpa mollitia aliquid quaerat, tempora accusantium consequatur voluptatum neque! Inventore mollitia, in maiores fuga, assumenda autem corporis quod harum delectus sint similique dolorum nemo illum repudiandae! Possimus rem ex minima itaque.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab consectetur, hic dolorem voluptatum distinctio, earum molestiae dignissimos corrupti voluptatem quidem eum laudantium alias laboriosam eius.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum necessitatibus deserunt aperiam debitis ab, eaque numquam ipsum delectus dignissimos harum quo, facere deleniti corporis quos tempore excepturi? Error libero tempore ducimus voluptates! Earum magnam fugiat consequuntur quis omnis quos voluptatem a adipisci quibusdam, quo autem animi incidunt repellat, voluptas debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla enim ab reprehenderit corrupti inventore ullam sequi alias accusamus quisquam animi! Necessitatibus nisi cumque odio tempora dignissimos corrupti. Ipsam quae excepturi ratione animi similique dolorem quia aut assumenda quas culpa ut libero perferendis quam, voluptatum officia voluptatibus consectetur ullam laboriosam adipisci pariatur. Facilis minima hic quas deleniti minus, sapiente quos illo? Temporibus veniam praesentium quo ullam mollitia eligendi maiores, unde, molestias minima commodi impedit quia atque.</p>
         </div>
         <div class="col-md-5">
            <div class="card">
               <img src="../../../assets/logo-2.jpg" class="w-100" alt="...">
            </div>
         </div>    
      </div>
   </div>
   <div class="content text-left mt-4">
      <h2 class="font-weight-bold txt-pry">¿Este ejemplo está completo?</h2>
      <div class="row">
         <div class="col-md-7">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil molestiae fugiat expedita pariatur culpa quidem tempore totam, nisi magni. Earum expedita dignissimos laboriosam? Neque placeat quasi consequatur expedita. Provident, dolore pariatur illum exercitationem distinctio natus eaque consequatur? Consequatur ut harum maiores labore deserunt, minima consequuntur sapiente distinctio, iure atque, nobis vel dolor dicta laboriosam culpa? Quas, labore assumenda maiores dicta corporis eveniet nihil fuga repellendus vero quibusdam molestiae odit culpa mollitia aliquid quaerat, tempora accusantium consequatur voluptatum neque! Inventore mollitia, in maiores fuga, assumenda autem corporis quod harum delectus sint similique dolorum nemo illum repudiandae! Possimus rem ex minima itaque.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate voluptates nisi fugit inventore, repudiandae ea necessitatibus culpa a vitae! Vitae voluptatem doloribus corporis ad. Cumque porro quod ducimus. Deserunt necessitatibus ullam consequatur alias minus beatae voluptatum culpa, dolor ea reprehenderit, quam cumque saepe, voluptas distinctio suscipit fuga molestias? Quos laborum illo aut dicta corrupti nulla facilis totam aspernatur ad fuga, cum est corporis quo voluptatum cupiditate ducimus, culpa dolorum. Doloremque voluptatum non sit, explicabo alias obcaecati molestiae esse ducimus illum, assumenda eius ullam incidunt magni pariatur? Eaque asperiores eos est aspernatur magni quos eligendi facere, doloremque, dicta, nulla natus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum necessitatibus deserunt aperiam debitis ab, eaque numquam ipsum delectus dignissimos harum quo, facere deleniti corporis quos tempore excepturi? Error libero tempore ducimus voluptates! Earum magnam fugiat consequuntur quis omnis quos voluptatem a adipisci quibusdam, quo autem animi incidunt repellat, voluptas debitis.</p>
         </div>
         <div class="col-md-5">
            <div class="card">
               <img src="../../../assets/logo-3.jpg" class="w-100" alt="...">
            </div>
         </div>
      </div>
   </div>   
</div>