/* You can add global styles to this file, and also import other style files */
@import "style-variables";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.bg-pry{
    background-color: $green-primary !important;
}

.bg-blk{
    background-color: $black-primary !important;
}

.bg-sec{
    background-color: $green-seccondary !important;
}

.txt-blk{
    color: $black-primary;
}

.txt-pry{
    color: $green-primary;
}

.card{
    border-radius: 2vh;
    overflow: hidden;
}

.h-full{
    min-height: 100%;
}

.round{
    border-radius: 1vmin;
}

.border-pry{
    border: 1px solid;
    border-color: $green-seccondary !important; 
}