<div class="py-2">
   <div class="row">
      <div class="col-md-4 text-center">
         <div class="card my-2 bg-blk border-0">
            <div class="card-header border-0 bg-pry">
                <h5 class="card-title txt-blk py-2 font-weight-bold ">Misión</h5>
            </div>
            <div class="card-body">               
               <p class="card-text p-4 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, repellat accusamus id labore dolorum impedit reiciendis temporibus ipsam, voluptatem consectetur ducimus tenetur quae maiores odio fuga, veritatis eaque iste cumque.</p>
            </div>
         </div>
      </div>
      <div class="col-md-4 text-center">
         <div class="card my-2 bg-blk border-0">
             <div class="card-header border-0 bg-pry">
                <h5 class="card-title txt-blk py-2 font-weight-bold">Visión</h5>
            </div>
            <div class="card-body">               
               <p class="card-text p-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellat quibusdam, atque tempore deleniti voluptates, laudantium dignissimos at autem sunt tempora delectus dolores doloribus eius? Ratione est autem itaque pariatur!</p>
            </div>
         </div>
      </div>
      <div class="col-md-4 text-center">
         <div class="card my-2 bg-blk border-0">
             <div class="card-header border-0 bg-pry">
                <h5 class="card-title txt-blk py-2 font-weight-bold">Valores</h5>
            </div>
            <div class="card-body">               
               <p class="card-text p-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellat quibusdam, atque tempore deleniti voluptates, laudantium dignissimos at autem sunt tempora delectus dolores doloribus eius? Ratione est autem itaque pariatur!</p>
            </div>
         </div>
      </div>
   </div>
</div>