<form class="p-4">
    <div class="form-group mb-3">
        <label for="input1" class="form-label">Your name</label>
        <input type="text" class="round p-3 form-control border-0" id="input1" placeholder="George Adams">
    </div>
    <div class="form-group mb-3">
        <label for="input2" class="form-label">Email address</label>
        <input type="email" class="round p-3 form-control border-0" id="input2" placeholder="name@example.com">
    </div>
    <div class="form-group mb-3">
        <label for="input3" class="form-label">Phone number</label>
        <input type="text" class="round p-3 form-control border-0" id="input3" placeholder="+1(809)010-0000">
    </div>
    <div class="form-group mb-3">
        <label for="input4" class="form-label">Example textarea</label>
        <textarea class="round p-3 form-control border-0" id="input4" rows="3" placeholder="Your message..."></textarea>
    </div>
    <div class="form-group text-center">
        <button class="btn bg-blk text-white px-4" type="submit">Enviar</button>
    </div>    
</form>